Repository DonaldNgai/survai-directus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rijkvanzanten, @benhaynes, @nickrum

.github/CODEOWNERS:

* @rijkvanzanten

/docs/*.md @benhaynes

/packages/shared @nickrum
/packages/extension-sdk @nickrum
/app/vite.config.js @nickrum

Fix typecasting of required field (#7392)
  api/src/database/system-data/fields/fields.yaml
Owners: @rijkvanzanten

New Crowdin updates (#7388)
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
Owners: @rijkvanzanten

Move geojson from devDeps to deps of shared (#7403)
  package-lock.json
  packages/shared/package.json
Owners: @rijkvanzanten, @nickrum

Re-add map related translation keys (#7404)
  app/src/lang/translations/en-US.yaml
Owners: @rijkvanzanten

New Crowdin updates (#7405)
  app/src/lang/translations/ar-SA.yaml
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/es-CL.yaml
  app/src/lang/translations/es-ES.yaml
  app/src/lang/translations/et-EE.yaml
  app/src/lang/translations/fi-FI.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/id-ID.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/lt-LT.yaml
  app/src/lang/translations/nl-NL.yaml
  app/src/lang/translations/pl-PL.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/pt-PT.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/sr-CS.yaml
  app/src/lang/translations/sv-SE.yaml
  app/src/lang/translations/th-TH.yaml
  app/src/lang/translations/tr-TR.yaml
  app/src/lang/translations/vi-VN.yaml
  app/src/lang/translations/zh-CN.yaml
  app/src/lang/translations/zh-TW.yaml
Owners: @rijkvanzanten

Don't double split csv values
  api/src/services/payload.ts
Owners: @rijkvanzanten

Still join them on create tho
  api/src/services/payload.ts
Owners: @rijkvanzanten

Fix group interface start (#7411)
  app/src/interfaces/group-detail/group-detail.vue
Owners: @rijkvanzanten

Handle non-existing relations in m2o
  app/src/interfaces/select-dropdown-m2o/select-dropdown-m2o.vue
Owners: @rijkvanzanten

Fix translations not fetching all translation previews
  app/src/interfaces/translations/translations.vue
Owners: @rijkvanzanten

remove list-style for v-list (#7439)
  app/src/components/v-list/v-list.vue
Owners: @rijkvanzanten

Fix linter warning
  app/src/components/v-list/v-list.vue
Owners: @rijkvanzanten

Fixes for GraphQL variables in HTTP GET requests (#7416)
  api/.gitignore
  api/jest.config.js
  api/package.json
  api/src/__mocks__/cache.ts
  api/src/middleware/cache.test.ts
  api/src/middleware/graphql.ts
  api/src/utils/get-cache-key.test.ts
  api/src/utils/get-cache-key.ts
Owners: @rijkvanzanten

Don't read icc information
  api/src/services/files.ts
Owners: @rijkvanzanten

Render href attributes on router-link (#7456)
  app/src/components/v-button/v-button.vue
  app/src/components/v-list/v-list-item.vue
  app/src/views/private/components/module-bar/module-bar.vue
Owners: @rijkvanzanten

add simple audio support (#7452)
  app/src/interfaces/input-rich-text-html/useMedia.ts
Owners: @rijkvanzanten

Add FAQs to title formatter
  packages/format-title/src/acronyms.ts
Owners: @rijkvanzanten

Allow cancelling the creation of custom permissions (#7459)
  app/src/modules/settings/routes/roles/item/components/permissions-overview-toggle.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/actions.vue
  app/src/modules/settings/routes/roles/permissions-detail/components/fields.vue
  app/src/modules/settings/routes/roles/permissions-detail/permissions-detail.vue
  app/src/utils/is-permission-empty.ts
Owners: @rijkvanzanten

Improve conditional fields (#7462)
  app/src/components/v-form/v-form.vue
  app/src/modules/settings/routes/data-model/field-detail/components/conditions.vue
Owners: @rijkvanzanten

Add edge case using mysql for tinyint as boolean (#7460)
  api/src/utils/get-local-type.ts
Owners: @rijkvanzanten

fix @ alias (#7463)
  app/vite.config.js
Owners: @nickrum

Add basic support for a config file to extension building (#7332)
  packages/extension-sdk/src/cli/commands/build.ts
  packages/extension-sdk/src/cli/utils/load-config.ts
Owners: @nickrum

Re-enable the default retrystrategy
  api/src/cache.ts
Owners: @rijkvanzanten

Fix server error when a postgres view contains geometry columns (#7486)
  packages/schema/src/dialects/postgres.ts
Owners: @rijkvanzanten

Add docker compose update instructions (#7479)
  docs/guides/installation/docker.md
Owners: @rijkvanzanten

Fix server error when a postgres view contains geometry columns (#7487)
  packages/schema/src/dialects/postgres.ts
Owners: @rijkvanzanten

Don't allow `empty` filter for non-string types. Add `null` filter. (#7501)
  api/src/utils/apply-query.ts
  app/src/views/private/components/filter-sidebar-detail/get-available-operators-for-type.ts
  packages/shared/src/utils/get-filter-operators-for-type.ts
Owners: @rijkvanzanten, @nickrum

New Crowdin updates (#7408)
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/de-DE.yaml
  app/src/lang/translations/pt-BR.yaml
  app/src/lang/translations/ru-RU.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/lang/translations/zh-CN.yaml
Owners: @rijkvanzanten

Fix SDK Tests (#7469)
  package-lock.json
  packages/sdk/package.json
  packages/sdk/tests/base/auth.browser.test.ts
  packages/sdk/tests/base/auth.node.test.ts
  packages/sdk/tests/base/directus.browser.test.ts
  packages/sdk/tests/base/storage/localstorage.test.ts
  packages/sdk/tests/handlers/invites.test.ts
  packages/sdk/tests/utils.ts
Owners: @rijkvanzanten

Set simple select mode when the value is loaded. (#7505)
  app/src/interfaces/map/map.vue
Owners: @rijkvanzanten

Allow fetching singleton content through pk route (#7509)
  api/src/controllers/items.ts
Owners: @rijkvanzanten

Fix double drop relation
  api/src/database/index.ts
  api/src/services/collections.ts
Owners: @rijkvanzanten

Explicitly nullify user/role when the other is set in presets (#7512)
  app/src/layouts/map/index.ts
  app/src/modules/settings/routes/presets/item.vue
  packages/shared/src/types/layouts.ts
Owners: @rijkvanzanten, @nickrum

Prevent 400 error on translations load for to-be-created items (#7513)
  app/src/interfaces/translations/translations.vue
Owners: @rijkvanzanten

Update dependencies of gatsby-source-directus (#7523)
  packages/gatsby-source-directus/gatsby-node.js
  packages/gatsby-source-directus/package.json
Owners: @rijkvanzanten

Link to awesome-directus in introduction doc (#7516)
  docs/getting-started/introduction.md
Owners: @rijkvanzanten

Fix SDK request url in fields update one request (#7514)
  packages/sdk/src/handlers/fields.ts
  packages/sdk/tests/handlers/fields.test.ts
  packages/sdk/tests/utils.ts
Owners: @rijkvanzanten

Hide filter input when filter operator is null/nnull. (#7515)
  app/src/views/private/components/filter-sidebar-detail/filter-input.vue
Owners: @rijkvanzanten

don't sort filters alphabetical (#7525)
  app/src/composables/use-field-tree/use-field-tree.ts
Owners: @rijkvanzanten

Image auth (#7528)
  packages/gatsby-source-directus/gatsby-node.js
Owners: @rijkvanzanten
