Repository DonaldNgai/survai-directus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rijkvanzanten, @benhaynes, @nickrum

.github/CODEOWNERS:

* @rijkvanzanten

/docs/*.md @benhaynes

/packages/shared @nickrum
/packages/extension-sdk @nickrum
/app/vite.config.js @nickrum

remove undefined fitBounds (#7537)
  app/src/interfaces/map/options.vue
Owners: @rijkvanzanten

fix running useFieldTree to often (#7543)
  app/src/composables/use-field-tree/use-field-tree.ts
Owners: @rijkvanzanten

New Crowdin updates (#7526)
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/it-IT.yaml
Owners: @rijkvanzanten

fix field template removing text (#7549)
  app/src/components/v-field-template/v-field-template.vue
Owners: @rijkvanzanten

Improve stability of tree-view select interface (#7552)
  api/example.env
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-select/v-select.vue
Owners: @rijkvanzanten

v9.0.0-rc.91
  api/package.json
  app/package.json
  docs/package.json
  lerna.json
  packages/cli/package.json
  packages/create-directus-project/package.json
  packages/drive-azure/package.json
  packages/drive-gcs/package.json
  packages/drive-s3/package.json
  packages/drive/package.json
  packages/extension-sdk/package.json
  packages/format-title/package.json
  packages/gatsby-source-directus/package.json
  packages/schema/package.json
  packages/sdk/package.json
  packages/shared/package.json
  packages/specs/package.json
Owners: @rijkvanzanten, @nickrum

Update changelog.md
  changelog.md
Owners: @rijkvanzanten

Update directus versions
  package-lock.json
Owners: @rijkvanzanten

added translation vars to fields (#7554)
  api/src/database/system-data/collections/collections.yaml
  api/src/database/system-data/fields/activity.yaml
  api/src/database/system-data/fields/collections.yaml
  api/src/database/system-data/fields/files.yaml
  api/src/database/system-data/fields/roles.yaml
  api/src/database/system-data/fields/settings.yaml
  app/src/lang/translations/en-US.yaml
Owners: @rijkvanzanten

Add postgres constructor to getGeometryHelper (#7561)
  api/src/database/helpers/geometry.ts
Owners: @rijkvanzanten

Add `search this area` button to map layout. Changed fitDataToView to autoLocationFilter and make it optional. (#7578)
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/ca-ES.yaml
  app/src/lang/translations/en-US.yaml
  app/src/lang/translations/it-IT.yaml
  app/src/lang/translations/sl-SI.yaml
  app/src/layouts/map/components/map.vue
  app/src/layouts/map/index.ts
  app/src/layouts/map/map.vue
  app/src/layouts/map/options.vue
Owners: @rijkvanzanten

Add supertest to api deps
  api/package.json
  package-lock.json
Owners: @rijkvanzanten

Fix uploaded_by not always setting user (#7581)
  api/src/controllers/files.ts
  api/src/database/system-data/fields/files.yaml
Owners: @rijkvanzanten

added text type to input interface (#7535)
  app/src/interfaces/input/index.ts
Owners: @rijkvanzanten

fix asset transformation withEnlargement type (#7553)
  api/src/utils/transformations.ts
Owners: @rijkvanzanten

fix files calendar view item url (#7562)
  app/src/layouts/calendar/index.ts
Owners: @rijkvanzanten

Move basemap input higher in sidebar options. Keep map interactive under v-info (#7563)
  app/src/layouts/map/map.vue
  app/src/layouts/map/options.vue
Owners: @rijkvanzanten

Display private images in WYSIWYG editor (#7583)
  app/src/api.ts
  app/src/interfaces/file-image/file-image.vue
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
  app/src/interfaces/input-rich-text-html/useImage.ts
Owners: @rijkvanzanten

Don't stage empty ? in img url
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Owners: @rijkvanzanten

Add mapbox-key to map interface initialization (#7602)
  app/src/interfaces/map/options.vue
Owners: @rijkvanzanten

Make the asset url regex unambiguous (#7603)
  app/src/interfaces/input-rich-text-html/input-rich-text-html.vue
Owners: @rijkvanzanten

check if perms have edits (#7599)
  app/src/modules/settings/routes/roles/item/components/permissions-overview-toggle.vue
Owners: @rijkvanzanten

log localhost url so it's clickable in terminals (#7604)
  api/src/start.ts
Owners: @rijkvanzanten

Add search result highlighting to tree-view interface (#7605)
  app/package.json
  app/src/components/register.ts
  app/src/components/v-checkbox-tree/v-checkbox-tree-checkbox.vue
  app/src/components/v-highlight.vue
  package-lock.json
Owners: @rijkvanzanten

fix(api): merge original user object into payload from auth hook (#7568)
  api/src/services/authentication.ts
Owners: @rijkvanzanten

truely unref item (#7628)
  app/src/utils/render-string-template.ts
Owners: @rijkvanzanten

Share vue-router between App and extensions (#7629)
  packages/shared/src/constants/extensions.ts
Owners: @nickrum

Enable browser module resolution when building app extensions (#7624)
  packages/extension-sdk/src/cli/commands/build.ts
Owners: @nickrum

fix computed and watch getting updated to often (#7631)
  app/src/components/v-form/v-form.vue
  app/src/interfaces/list-o2m/list-o2m.vue
Owners: @rijkvanzanten

assign instead of merge (#7632)
  app/src/components/v-form/v-form.vue
Owners: @rijkvanzanten

New Crowdin updates (#7575)
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/es-419.yaml
  app/src/lang/translations/fr-FR.yaml
  app/src/lang/translations/hu-HU.yaml
  app/src/lang/translations/it-IT.yaml
Owners: @rijkvanzanten

Allow json imports and replace NODE_ENV env var when building extensions (#7627)
  package-lock.json
  packages/extension-sdk/package.json
  packages/extension-sdk/src/cli/commands/build.ts
Owners: @rijkvanzanten, @nickrum

Prevent collection from crashing on unknown layout (#7635)
  app/src/modules/collections/routes/collection.vue
Owners: @rijkvanzanten

Fix linter warnings
  app/src/api.ts
  app/src/components/v-highlight.vue
  app/src/layouts/map/index.ts
Owners: @rijkvanzanten

Fix duplicate string
  app/src/lang/translations/bg-BG.yaml
  app/src/lang/translations/it-IT.yaml
Owners: @rijkvanzanten

Use root-relative base url for app and extensions (#6923)
  api/src/app.ts
  api/src/extensions.ts
  api/src/services/mail/index.ts
  api/src/services/users.ts
  api/src/utils/url.ts
Owners: @rijkvanzanten
